.bootstrap.auto/
.bootstrap.local/
dependencies/
.repos/
build/
.DS_Store
mulle-configuration/
xcuserdata/
*~.*
project.xcworkspace/
tmp/
*.exe
*.exe.dSYM/
research/
unicode/
/include
/lib
mulle-tests/
