.bootstrap.auto/
.bootstrap.local/
dependencies/
.repos/
build/
.DS_Store
mulle-configuration/
xcuserdata/
*~.*
project.xcworkspace/
tmp/
*.exe
*.exe.debug
*.dSYM/
*.old
research/
unicode/
/include
/lib
mulle-tests/
addictions/

/tests/mulle-tests/

/bin/mulle-homebrew/
tests/char5/encode
tests/char5/makeint
tests/char5/substring
tests/char7/encode
tests/char7/makeint
tests/char7/substring
tests/include/
tests/lib/
tests/conversion/backandforth
tests/conversion/convenience
tests/information/classify
tests/information/null
tests/iteration/iteration
tests/strnlen/mulle_utf8_strnlen
tests/char5/encode.debug
tests/char5/makeint.debug
tests/char5/substring.debug
tests/information/classify.debug
/mulle-configuration

/.bootstrap.auto

/.bootstrap.local

/dependencies

/addictions

/.repos

/tests/mulle-tests

/bin/mulle-homebrew
